<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to KANATED's ALX Tic-Tac-Toe</h1>
        <p>Choose your opponent and start playing!</p>
        <div class="buttons">
            <button id="human-vs-human">Play Human vs Human</button>
            <button id="human-vs-ai">Play Human vs AI</button>
        </div>
        <div id="board" class="board"></div>
    </div><br />


    <br>
    <footer class="footer">
        <p>&copy; 2024 Wesley Yakubu Ande. Developed as a final portfolio project for the ALX program.</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
